.App {
  text-align: center;
}

nav{
  background-color: #00292c;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: rgb(146, 239, 255);
  font-family: "Lucida Console" , monospace ;
  text-shadow:2px 1px #ffffff;
}

form{
  background-color: #095157;
  font-family: "Lucida Console" , monospace ;
  color: rgb(230, 251, 255);
  font-weight: bold;
  padding: 8px;
  font-size: 20px;
}

label {
  margin-left: 50px;
}

input{
  padding: 4px 20px;
}

.button {
  background-color: #ffffff; /* Green */
  border: none;
  color: rgb(37, 158, 206);
  padding: 4px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bold;
  font-family: "Lucida Console" , monospace ;
}
.button1 {
  background-color: white; 
  color: black; 
  border: 3px solid #268c9e;
}

.button1:hover {
  background-color: #0bbcc2;
  color: white;
}

.footer {
  background-color: #ffffff;
  padding: 10px;
}

h2{
  
  font-family: "Lucida Console" , monospace ;
  color: rgb(5, 88, 37);
  font-weight: bold;
  
 
}

p1{
  
  font-family: "Lucida Console" , monospace ;
  color: rgb(11, 160, 73);
  padding: 0px;
  font-weight: bold;
 
}



#customers {
  font-family: "Lucida Console" , monospace ;
  border-collapse: collapse;
  width: 80%;
  margin-left: auto; 
  margin-right: auto;
}


#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  border-collapse: collapse;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  
  border-collapse: collapse;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #91e609;
  color: rgb(0, 0, 0);
  
}
